@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@viewport {
    width: device-width;
    zoom: 1;
}

h1 {
    font-family: "PT Serif", serif;
    letter-spacing: 5px;
    word-spacing: 7px;
    font-weight: 100;
    display: inline-table;
}

h2,
h3 {
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color:white;
}

a:hover {
    color: #aaa
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: "Inconsolata", monospace;
    background-color: #000;
    color: #fff
}

hr.main {
    max-width: 90%;
    height: 4px;
}

hr.body {
    max-width: 75%;
}

button {
    font-family: "Inconsolata", monospace;
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}

.important-button {
    font-size: medium;
    background-color: #555;
    color: #fff;
    border: double;
}

#main-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#drop-zone {
    text-align: center;
    background: #333;
    border: dashed 3px white;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1em;
    cursor: pointer;
    align-items: center;
}

#image-loader{
    font-family: "Inconsolata", monospace;
    font-size: 1em;
    
}
#image-loader::file-selector-button {
    margin-left: 10px;
    font-family: "Inconsolata", monospace;
    background-color: #333;
    color: #fff;
    margin: 0.5em;
    cursor: pointer;
  }

#image-canvas {
    border: 3px solid #aaa;
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

#custom-menu {
    border: 3px solid #aaa;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: auto;
}

#loading-screen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(100, 100, 100, 0.8);
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

footer a {
    color: #777
}